<div class="row">  
    <div class="col">
      <%= book.title&.titleize %> <br>
    </div>
      <div class="col">
        <%= book.status&.titleize%> <br>
      </div>
          <div class="col">
        <%= book.status_date %> <br>
    </div>
  </div>

